/* CustomCarousel.css */
.carousel .carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.carousel .control-arrow {
  background-color: #ffffff; /* Set background to fully opaque white */
  border: 2px solid rgba(0, 0, 0, 0.2); /* Add a subtle dark outline */
  border-radius: 50%; /* Round shape */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Add shadow effect */
  opacity: 0.8; /* Slightly reduce the opacity for a hazy effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the arrows are above other elements */
  visibility: visible; /* Ensure arrows are always visible */
}

/* Styles for both arrows */
.carousel .control-prev.control-arrow:before,
.carousel .control-next.control-arrow:before {
  color: black; /* Set arrow color to dark */
  content: ''; /* Use borders to create the arrow */
  border: solid black;
  display: inline-block;
}

.carousel .control-prev.control-arrow:before {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.carousel .control-next.control-arrow:before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Adjust arrow position */
.carousel .control-prev.control-arrow {
  left: 20px; /* Adjust position from the left */
}

.carousel .control-next.control-arrow {
  right: 20px; /* Adjust position from the right */
}

.carousel.carousel-slider .control-arrow {
  top: 50%;
  margin-top: -30px; /* Adjust based on arrow size */
}

/* Ensure arrows are not obscured */
.carousel .control-arrow.control-prev,
.carousel .control-arrow.control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  /* Larger arrow container and arrows for desktop */
  .carousel .control-arrow {
    width: 100px; /* Size of the background */
    height: 100px; /* Size of the background */
  }

  .carousel .control-prev.control-arrow:before,
  .carousel .control-next.control-arrow:before {
    border-width: 0 12px 12px 0; /* Increase the border width for a larger arrow */
    padding: 20px; /* Increase the padding for a larger arrow */
    font-size: 40px; /* Increase the icon size */
  }
}

@media (max-width: 767px) {
  /* Smaller arrow container and arrows for mobile */
  .carousel .control-arrow {
    width: 60px; /* Size of the background */
    height: 60px; /* Size of the background */
  }

  .carousel .control-prev.control-arrow:before,
  .carousel .control-next.control-arrow:before {
    border-width: 0 6px 6px 0; /* Border width for the arrow */
    padding: 10px; /* Size of the arrow */
    font-size: 30px; /* Size of the icon */
  }
}
